.navbar
{
	display: block;
	margin-right: 10px;
	padding-top: 10px;
	
}
.navlist
{
	position: sticky;
	float: right;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.listitem
{

	display: inline;
}
.homeicon
{
	padding: 10px;
}
.homeicon:hover
{
	color: black;
}
.listitem a
{
	text-decoration: none;
	margin: 2px;
	padding: 10px;
	font-family: Britannic bold;
	color: grey;
	border-radius: 15px;
}
.listitem a:hover
{
	background-color: hsl(0, 0%, 93%);
}
.searchbar
{
	width: 1040px;
	margin: 10px;
	margin-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: hsl(0, 0%, 93%);
	border-radius: 6px;
	border: 2px solid hsl(0, 0%, 93%);
	font-size: 20px;
	color: hsl(0, 0%, 71%);
	font-family: Britannic bold;


}
.logoutbtn
{
	text-decoration: none;
	margin: 2px;
	padding: 10px;
	font-family: Britannic bold;
	color: grey;
	border-radius: 15px;
	border-color: white;
	background-color: white;
	font-size: 16px;
	box-shadow: 0px 0px white;
	text-shadow: 0px 0px white;
	border-bottom: 0px;
	border-right: 0px;
}
.logoutbtn:hover
{
	background-color: hsl(0, 0%, 93%); 
}
*
{
	margin: 0px;
	padding: 0px;
}
.imagetile
{
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
	background-color: white;
	border-radius: 3px;
	box-shadow: 6px 6px 5px grey;



}
div > img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}
.savebtn
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
	border: 0px solid white;
	border-color:  #bb9087;
	background-color: #bb9087;
	color: white;
	font-size: 20px;
	font-family: Bradley Hand ITC;
	box-shadow: 6px 6px 6px grey;
	float: right;
	margin-right: 30px;
	margin-top: 10px;

}

.savebtn:hover
{
	background-color: black;
}

.removebtn
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
	border: 0px solid white;
	border-color:  black;
	background-color: black;
	color: white;
	font-size: 20px;
	font-family: Bradley Hand ITC;
	box-shadow: 5px 5px 5px grey;
	float: right;
	margin-right: 30px;
	margin-top: 10px;

}